@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  color: #6c6c6c;
  font-size: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 79.6%;
  margin: 0 auto;
}

.container {
  width: 64%;
  margin: 0 auto;
}

.wrapper-second {
  width: 50%;
  margin: 0 auto;
}

a {
  color: inherit;
}

.header {
  background: #111111 url("../img/header/1593815675_44-p-cherno-belie-abstraktnie-foni-53.png") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.header input {
  display: none;
}

.header label {
  visibility: hidden;
}

.header__top {
  padding-top: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
}

.header__link {
  display: inline-block;
  margin-right: 35px;
  margin-top: 10px;
}

.header__link:first-child {
  border-bottom: 3px solid #fcac45;
  padding-bottom: 13px;
}

.header__link:last-child {
  margin-right: 0;
}

.header__link a:hover {
  color: rgba(255, 255, 255, 0.55);
}

.header__link a:active {
  color: rgba(255, 255, 255, 0.15);
}

.header__main {
  padding: 210px 0 420px;
  text-align: center;
}

.header__title {
  font-size: 44px;
  text-transform: uppercase;
}

.header__span {
  font-weight: bold;
  color: #fcac45;
  -webkit-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.header__span:hover {
  color: #fc8e45;
}

.header__subtitle {
  font-size: 20px;
  margin-top: 16px;
}

.logo {
  font-size: 24px;
  line-height: 1;
}

.logo a:hover {
  color: rgba(255, 255, 255, 0.55);
}

.logo a:active {
  color: rgba(255, 255, 255, 0.15);
}

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: bottom;
  -webkit-align-items: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
}

.about {
  background-color: #fff;
  padding: 100px 0;
}

.about .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.about__left {
  width: 500px;
  height: 410px;
  margin-right: auto;
}

.about__right {
  width: 420px;
}

.about__title {
  text-transform: uppercase;
  color: black;
  font-size: 34px;
  line-height: 1;
  padding-bottom: 20px;
  border-bottom: 3px solid #fcac45;
  margin-bottom: 30px;
}

.about__subtitle {
  font-size: 18px;
  margin-bottom: 43px;
  line-height: 22px;
}

.about__link {
  position: relative;
  font-size: 18px;
  margin-bottom: 19px;
  background: url("../img/about/mark.png") 0 no-repeat;
  padding-left: 25px;
}

.about__span {
  font-weight: bold;
}

.subtitle, .gallery__subtitle {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
}

.team {
  background-color: #000;
  padding: 100px 0 160px;
}

.team__list {
  margin-top: 140px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 3.333%;
     -moz-column-gap: 3.333%;
          column-gap: 3.333%;
}

.team__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.team__circle {
  display: block;
  width: 130px;
  height: 130px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #d7d7d7;
  cursor: pointer;
}

.team__name {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
  margin-top: 20px;
  text-align: center;
}

.team__work {
  font-size: 18px;
  color: #f4f4f4;
  margin-bottom: 35px;
  margin-top: 7px;
}

.team__description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}

.title {
  font-size: 44px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  position: relative;
}

.title:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 30px;
  -webkit-border-radius: 1px;
          border-radius: 1px;
  width: 100px;
  height: 5px;
  background-color: #fcac45;
}

.services {
  background-color: #fff;
  padding: 100px 0 95px;
}

.services__title {
  color: black;
  margin-bottom: 85px;
}

.services__subtitle {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  margin-bottom: 95px;
}

.services__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 3.333%;
     -moz-column-gap: 3.333%;
          column-gap: 3.333%;
}

.services__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.services__icons {
  font-size: 52px;
  color: black;
  padding: 30px;
  border: 5px solid #fcac45;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
  margin-bottom: 30px;
}

.services__work {
  font-size: 25px;
  color: #222222;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

.services__description {
  color: #222222;
  line-height: 21px;
}

.fas.fa-desktop {
  padding: 30px 25px;
}

.fas.fa-mobile-alt {
  padding: 30px 40px;
}

.fas.fa-bullhorn {
  padding: 30px 27px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.clients {
  background-color: #000;
  padding: 100px 0 200px;
}

.clients__title {
  color: #fff;
  font-weight: 300;
  margin-bottom: 140px;
}

.clients__span {
  font-weight: 600;
}

.clients__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.clients img {
  margin-top: 50px;
  cursor: pointer;
}

.span-600 {
  font-weight: 600;
}

.span-300 {
  font-weight: 300;
}

.gallery {
  background-color: #fff;
  padding: 100px 0;
}

.gallery__title {
  color: #222222;
  margin-bottom: 90px;
}

.gallery img {
  width: 263px;
  height: 237px;
  cursor: pointer;
  -webkit-filter: sepia(10%) hue-rotate(5deg) saturate(95%) brightness(85%) blur(0.5px);
          filter: sepia(10%) hue-rotate(5deg) saturate(95%) brightness(85%) blur(0.5px);
}

.gallery img:hover {
  -webkit-filter: none;
          filter: none;
}

.gallery__subtitle {
  margin-bottom: 168px;
}

.gallery__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 2%;
     -moz-column-gap: 2%;
          column-gap: 2%;
  row-gap: 32px;
  overflow-x: hidden;
}

.testimonials {
  background-color: #000;
  padding: 100px 0 170px;
}

.testimonials__title {
  margin-bottom: 143px;
}

.testimonials__subtitle {
  font-size: 18px;
  line-height: 24px;
  color: #e7e7e7;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.testimonials__cite {
  font-size: 18px;
  line-height: 24px;
  color: #b2b2b2;
  text-align: center;
}

.testimonials__author {
  font-weight: bold;
}

.contact {
  background-color: #fff;
  padding: 100px 0;
}

.contact__title {
  color: #000;
  margin-bottom: 90px;
}

.contact__subtitle {
  text-align: center;
  margin-bottom: 110px;
}

.contact__text-inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 5%;
  margin-bottom: 27px;
}

.contact__sup {
  color: #db0000;
}

.contact__button {
  font-size: 16px;
  color: #fff;
  background-color: #fcac45;
  text-transform: uppercase;
  padding: 10px 62px;
  display: block;
  margin-left: auto;
}

.contact__button:hover {
  background-color: rgba(46, 39, 39, 0.651);
  font-weight: bold;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.contact__button:active, .contact__button:focus {
  background-color: rgba(46, 39, 39, 0.35);
}

.contact input, .contact textarea {
  border: 1px solid #999999;
  -webkit-border-radius: 1px;
          border-radius: 1px;
  width: 100%;
  font-size: 18px;
  padding: 10px 5px;
  color: black;
}

.contact textarea {
  padding: 5px 5px;
  font-size: 16px;
  height: 160px;
  margin-bottom: 30px;
}

.contact label {
  display: inline-block;
  margin-bottom: 8px;
}

.footer {
  background-color: #222222;
  border-bottom: 1px solid #3f3f3f;
}

.footer__icons {
  text-align: center;
  padding: 20px 0 19px;
}

.footer__icons i {
  font-size: 18px;
  padding: 5px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #8c8c8c;
  border: 2px solid #b2b2b2;
  margin-right: 13px;
}

.footer__icons i:hover {
  color: white;
  font-size: 16px;
}

.footer .fa-facebook-f {
  padding: 5px 8px;
}

.footer .fa-google-plus-g {
  padding: 5px 3px;
}

.footer .fa-vk {
  padding: 5px 4px;
}

@media screen and (max-width: 1800px) {
  .gallery__list img {
    width: 283px;
    height: 257px;
  }
}

@media screen and (max-width: 1400px) {
  .gallery__list {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
  .gallery__list img:nth-child(4n) {
    display: none;
  }
  .gallery__list img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1400px) and (max-width: 1050px) {
  .gallery__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .gallery__list img:nth-child(3n) {
    display: none;
  }
  .gallery__list img {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1400px) and (max-width: 720px) {
  .gallery__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .gallery__list img:nth-child(2),
  .gallery__list img:nth-child(5),
  .gallery__list img:nth-child(10) {
    display: none;
  }
}

@media screen and (max-width: 1200px) and (max-width: 1050px) {
  .menu {
    font-size: 12px;
  }
}

@media screen and (max-width: 1200px) {
  .about > .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about > .wrapper .about__left {
    margin: 0 auto;
    margin-top: 120px;
    width: auto;
    height: auto;
  }
  .about > .wrapper .about__right {
    margin: 0 auto;
    width: 100%;
  }
  .about > .wrapper .about__right .about__title {
    display: inline-block;
    margin-left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    word-wrap: break-word;
  }
}

@media screen and (max-width: 1200px) and (max-width: 1000px) {
  .menu ul {
    display: none;
  }
  .header > .wrapper {
    position: relative;
  }
  .menu .mobile-menu {
    visibility: visible;
    font-size: 26px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.15s ease-in;
    transition: -webkit-transform 0.15s ease-in;
    -o-transition: transform 0.15s ease-in;
    transition: transform 0.15s ease-in;
    transition: transform 0.15s ease-in, -webkit-transform 0.15s ease-in;
  }
  .menu #menu-mobile:checked ~ label {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .menu #menu-mobile:checked + ul {
    display: block;
    position: absolute;
    background-color: #161616;
    border-right: 2px solid rgba(76, 75, 77, 0.473);
    border-bottom: 2px solid rgba(76, 75, 77, 0.473);
    padding-top: 45px;
    top: 25px;
    right: 0;
  }
  .menu #menu-mobile:checked + ul .header__link {
    border: none;
    display: block;
    padding: 15px 80px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    font-weight: 600;
    margin: 0;
    font-size: 14px;
  }
  .menu #menu-mobile:checked + ul .header__link:last-of-type {
    border-bottom: none;
  }
  .menu #menu-mobile:checked + ul .header__link a {
    padding: 5px 0;
  }
  .menu #menu-mobile:checked + ul .header__link a:hover {
    border-bottom: 2px solid #fcac45;
  }
  .team__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 1000px) and (max-width: 580px) {
  .team__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1200px) and (max-width: 1000px) {
  .team__list .team__work {
    margin-bottom: 10px;
  }
  .services__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    row-gap: 30px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 1000px) and (max-width: 600px) {
  .services__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1200px) and (max-width: 1000px) {
  .contact__text-inputs {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1200px) and (max-width: 690px) {
  .about__left img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1200px) and (max-width: 780px) {
  .header__title {
    line-height: 1.35;
  }
  .header__main {
    padding-bottom: 240px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 700px) {
  .gallery__subtitle {
    font-size: 14px;
    margin-bottom: 70px;
  }
  .contact__button {
    width: 100%;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    padding: 10px 0;
  }
}

@media screen and (max-width: 1200px) and (max-width: 600px) {
  .about__title {
    font-size: 2.1rem;
  }
  .about__subtitle {
    font-size: 16px;
  }
  .header__title {
    font-size: 36px;
  }
  .header__subtitle {
    font-size: 16px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 1200px) and (max-width: 500px) {
  .contact__subtitle {
    font-size: 14px;
  }
  .contact input, .contact textarea {
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 400px) {
  .title {
    font-size: 34px;
    line-height: 1.3;
  }
  .testimonials__subtitle {
    font-size: 14px;
  }
  .header__title {
    font-size: 32px;
  }
  .header__subtitle {
    font-size: 15px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 360px) {
  .testimonials__title {
    font-size: 30px;
  }
  .gallery__list img {
    width: 90%;
    height: 90%;
  }
}
