@import "_nullstyle.scss";

body {
    color: #6c6c6c;
    font-size: 14px;
    font-family: "Open Sans", "Arial", sans-serif;
    overflow-x: hidden;
    margin:0;
    padding:0;
}

.wrapper {
width: 79.6%;
margin:0 auto;
}

.container {
width: 64%;
margin: 0 auto;
}

.wrapper-second {
width: 50%;
margin: 0 auto;
}

a {
    color:inherit;
}

.header {
background: #111111 url("../img/header/1593815675_44-p-cherno-belie-abstraktnie-foni-53.png") no-repeat;
background-size:cover;

    input {
        display: none;
    }

    label {
        visibility: hidden;
    }

    &__top {
        padding-top: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color:#fff;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1;
    }

    &__link {
        display: inline-block;
        margin-right: 35px;
        margin-top: 10px;

        &:first-child {
            border-bottom:3px solid #fcac45;
            padding-bottom: 13px;
        }

        &:last-child {
            margin-right: 0;
        }
        & a {
            &:hover {
                color:rgba(255, 255, 255, 0.55);
            }
            &:active {
                color:rgba(255, 255, 255, 0.15);
            }
        }
    }

    &__main {
        padding:210px 0 420px;
        text-align: center;
    }

    &__title {
        font-size: 44px;
        text-transform: uppercase;
    }

    &__span {
        font-weight: bold;
        color:#fcac45;
        transition: all 0.25s ease-in;

        &:hover {
            color:adjust-hue(#fcac45, -10deg)
        }
    }

    &__subtitle {
        font-size: 20px;
        margin-top: 16px;
    }
}

.logo {
    font-size: 24px;
    line-height: 1;
    & a {
        &:hover {
            color:rgba(255, 255, 255, 0.55);
        }
        &:active {
            color:rgba(255, 255, 255, 0.15);
        }
    }
}
.menu {
    display: flex;
    align-items: bottom;
}

.about {
    background-color: #fff;
    padding: 100px 0;

    .wrapper {
        display: flex;
    }

    &__left {
        width: 500px;
        height: 410px;
        margin-right: auto;
    }

    &__right {
        width: 420px;
    }

    &__title {
        text-transform: uppercase;
        color: black;
        font-size: 34px;
        line-height: 1;
        padding-bottom: 20px;
        border-bottom:3px solid #fcac45;
        margin-bottom: 30px;
    }

    &__subtitle {
        font-size: 18px;
        margin-bottom: 43px;
        line-height: 22px;

    }

    &__link {
        position: relative;
        font-size: 18px;
        margin-bottom: 19px;
        background:url("../img/about/mark.png") 0 no-repeat;
        padding-left: 25px;
    }

    &__span {
        font-weight: bold;
    }
}

.subtitle {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
}

.team {
background-color: #000;
padding:100px 0 160px;

    &__list {
        margin-top: 140px;
        display: grid;
        align-items: flex-start;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 3.333%;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        color:#fff;
    }

    &__circle {
        display: block;
        width:130px;
        height: 130px;
        border-radius: 50%;
        background-color: #d7d7d7;
        cursor: pointer;
    }

    &__name {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.3;
        margin-top: 20px;
        text-align: center;
    }

    &__work {
        font-size: 18px;
        color:#f4f4f4;
        margin-bottom: 35px;
        margin-top: 7px;
    }

    &__description {
        display: flex;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }
}

.title {
    font-size: 44px;
    color:white;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
        margin-top: 30px;
        border-radius: 1px;
        width: 100px;
        height: 5px;
        background-color: #fcac45;
    }
}


.services {
    background-color: #fff;
    padding:100px 0 95px;

    &__title {
        color: black;
        margin-bottom: 85px;
    }

    &__subtitle {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        font-style: italic;
        margin-bottom: 95px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: flex-start;
        column-gap:3.333%;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__icons {
        font-size: 52px;
        color:black;
        padding: 30px;
        border:5px solid #fcac45;
        border-radius: 50%;
        cursor:pointer;
        margin-bottom: 30px;
    }

    &__work {
        font-size: 25px;
        color:#222222;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &__description {
        color:#222222;
        line-height: 21px;
    }
}

.fas.fa-desktop {
    padding:30px 25px;
}

.fas.fa-mobile-alt {
    padding:30px 40px;
}

.fas.fa-bullhorn {
    padding:30px 27px;
    transform:rotate(-30deg);
}


.clients {
    background-color: #000;
    padding:100px 0 200px;

    &__title {
        color:#fff;
        font-weight: 300;
        margin-bottom: 140px;
    }

    &__span {
        font-weight: 600;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        column-gap: 40px;
     }

    img {
        margin-top: 50px;
        cursor: pointer;
    }
}

.span-600 {
    font-weight: 600;
}

.span-300 {
    font-weight: 300;
}


.gallery {
    background-color: #fff;
    padding: 100px 0;

    &__title {
        color:#222222;
        margin-bottom: 90px;
    }

    img {
        width: 263px;
        height: 237px;
        cursor: pointer;
        filter:sepia(10%) hue-rotate(5deg) saturate(95%) brightness(85%) blur(0.5px);

        &:hover {
            filter:none;
        }
    }

    &__subtitle {
        @extend .subtitle;
        margin-bottom: 168px;
    }

    &__list {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 2%;
        row-gap: 32px;
        overflow-x:hidden;
    }
}


.testimonials {
background-color: #000;
padding:100px 0 170px;
    &__title {
        margin-bottom: 143px;
    }


    &__subtitle {
        font-size: 18px;
        line-height: 24px;
        color:#e7e7e7;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 50px;
    }

    &__cite {
        font-size: 18px;
        line-height: 24px;
        color:#b2b2b2;
        text-align: center;
    }

    &__author {
        font-weight: bold;
    }
}


.contact {
background-color: #fff;
padding: 100px 0;


    &__title {
        color:#000;
        margin-bottom: 90px;
    }

    &__subtitle {
        text-align: center;
        margin-bottom: 110px;
    }

    &__text-inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5%;
        margin-bottom: 27px;
    }

    &__sup {
        color:#db0000;
    }

    &__button {
        font-size: 16px;
        color:#fff;
        background-color: #fcac45;
        text-transform: uppercase;
        padding:10px 62px;
        display: block;
        margin-left: auto;

        &:hover {
            background-color:rgba(46, 39, 39, 0.651);
            font-weight: bold;
            border-radius: 5px;
        }

        &:active,
        &:focus {
            background-color: rgba(46,39,39,0.35)
        }
    }

    input, textarea {
        border:1px solid #999999;
        border-radius: 1px;
        width:100%;
        font-size: 18px;
        padding:10px 5px;
        color:black;
    }

    textarea {
        padding:5px 5px;
        font-size: 16px;
        height: 160px;
        margin-bottom: 30px;
    }

    label {
        display: inline-block;
        margin-bottom: 8px;
    }
}


.footer {
background-color: #222222;
border-bottom:1px solid #3f3f3f;
    &__icons {
        text-align: center;
        padding:20px 0 19px;

        i {
            font-size: 18px;
            padding:5px;
            border-radius: 50%;
            color:darken(#b2b2b2, 15%);
            border:2px solid #b2b2b2;
            margin-right: 13px;

            &:hover {
                color:lighten(#b2b2b2, 50%);
                font-size: 16px;
            }
        }
    }

    .fa-facebook-f {
        padding:5px 8px;
    }

    .fa-google-plus-g {
        padding:5px 3px;
    }

    .fa-vk {
        padding:5px 4px;
    }
}


@media screen and (max-width:1800px) {
    .gallery__list img {
        width:283px;
        height: 257px;
    }
}

@media screen and (max-width:1400px) {
    .gallery__list {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;

        img:nth-child(4n) {
            display: none;
        }

        img {
            margin:0 auto;
            width:100%;
            height: 100%;
        }

        @media screen and (max-width:1050px) {
            grid-template-columns: 1fr 1fr;

            img:nth-child(3n) {
                display:none;
            }

            img{
                margin:0 auto;
            }
        }

        @media screen and (max-width:720px) {
            grid-template-columns: 1fr;

            img:nth-child(2),
            img:nth-child(5),
            img:nth-child(10) {
                display: none;
            }
        }
    }
}

@media screen and (max-width:1200px) {
    @media  screen and (max-width:1050px){
        .menu {
            font-size: 12px;
        }
    }

    .about>.wrapper {
        flex-direction: column-reverse;

        .about__left {
            margin:0 auto;
            margin-top: 120px;
            width: auto;
            height: auto;
        }

        .about__right {
            margin:0 auto;
            width:100%;

            .about__title {
                display: inline-block;
                margin-left: 50%;
                transform: translate(-50%,-50%);
                width: 100%;
                word-wrap: break-word;
            }
        }
    }

    @media screen and (max-width:1000px) {
        .menu ul {
            display: none;
        }

        .header > .wrapper {
            position: relative;
        }

        .menu {
            .mobile-menu {
                visibility: visible;
                font-size: 26px;
                cursor: pointer;
                transition:transform 0.15s ease-in;
            }

            #menu-mobile:checked ~ label {
                transform:rotate(90deg);
            }

            #menu-mobile:checked + ul {
                display: block;
                position: absolute;
                background-color: lighten(#111111, 2%);
                border-right:2px solid rgba(76, 75, 77, 0.473);
                border-bottom:2px solid rgba(76, 75, 77, 0.473);
                padding-top:45px;
                top:25px;
                right: 0;

                .header__link {
                    border:none;
                    display: block;
                    padding: 15px 80px;
                    text-align: center;
                    border-bottom:1px solid rgba(255, 255, 255, 0.15);
                    font-weight: 600;
                    margin:0;
                    font-size: 14px;

                    &:last-of-type {
                        border-bottom: none;
                    }

                    a {
                        padding:5px 0;
                    }

                    & a:hover {
                        border-bottom: 2px solid #fcac45;
                    }
                }
            }
        }
        .team__list {
            grid-template-columns: 1fr 1fr;
            row-gap: 40px;
            column-gap: 40px;

            @media screen and (max-width:580px) {
                grid-template-columns: 1fr;
            }
    
            .team__work {
                margin-bottom: 10px;
            }
        }

        .services__list {
            grid-template-columns: 1fr 1fr;
            column-gap: 40px;
            row-gap: 30px;

            @media screen and (max-width:600px) {
                grid-template-columns: 1fr;
            }
        }

        .contact__text-inputs {
            grid-template-columns: 1fr;
        }
    }

    @media screen and (max-width:690px) {
        .about__left img {
            margin:0 auto;
            width:100%;
            height: 100%;
        }
    }

    @media screen and (max-width:780px) {
        .header__title {
            line-height: 1.35;
        }

        .header__main {
            padding-bottom:240px;
        }
    }

    @media screen and (max-width:700px) {
        .gallery__subtitle {
            font-size: 14px;
            margin-bottom: 70px;
        }

        .contact__button {
            width:100%;
            border-radius: 15px;
            padding:10px 0;
        }
    }

    @media screen and (max-width:600px) {

         .about__title {
         font-size: 2.1rem;   
        }
        .about__subtitle {
            font-size: 16px;
        }

        .header__title {
            font-size: 36px;
        }

        .header__subtitle {
            font-size: 16px;
            line-height: 1.3;
        }
    }

    @media screen and (max-width:500px) {

        .contact__subtitle {
            font-size: 14px;
        }

        .contact input, .contact textarea {
            font-size: 14px;
        }
    }

    @media screen and (max-width:400px) {
        .title {
            font-size: 34px;
            line-height: 1.3;
        }

        .testimonials__subtitle {
            font-size: 14px;
        }

        .header__title {
            font-size: 32px;
        }

        .header__subtitle {
            font-size: 15px;
        }
    }

    @media screen and (max-width:360px) {
        .testimonials__title {
            font-size: 30px;
        }
        
        .gallery__list img {
            width:90%;
            height: 90%;
        }
    }
}